{% extends 'layout.html' %}
{% block body%}


<a href="https://www.simplyrecipes.com/recipes/banana_bread/">
   <img src="static/banana_bread.jpeg" alt="Chiquita Banana" height="100" width="100">
</a>

<a href="https://www.theperfectloaf.com/beginners-sourdough-bread/">
   <img src="static/sourdough.jpeg" alt="Sourdough" height="100" width="100">
</a>

<a href="https://tasteofartisan.com/french-baguette-recipe/">
   <img src="static/french_baguette.jpeg" alt="Bonjour" height="100" width="100">
</a>


{% endblock %}