{% extends 'layout.html' %}
{% block body%}

<div class="image-row">

<a href="https://www.simplyrecipes.com/recipes/banana_bread/">
   <img src="static/banana_bread.jpeg" alt="chiquita Banana" height="150" width="150" hspace="10">
</a>

<a href="https://www.theperfectloaf.com/beginners-sourdough-bread/">
   <img src="static/sourdough.jpeg" alt="sourdough" height="150" width="150" hspace="10">
</a>

<a href="https://tasteofartisan.com/french-baguette-recipe/">
   <img src="static/french_baguette.jpeg" alt="bonjour" height="150" width="150" hspace="10">
</a>

<a href="https://tasteofartisan.com/french-baguette-recipe/">
   <img src="static/brioche.jpeg" alt="brioche" height="150" width="150" hspace="10">
</a>

<a href="https://thecafesucrefarine.com/ridiculously-easy-focaccia-bread/">
   <img src="static/focaccia_bread.jpeg" alt="fochacha" height="150" width="150" hspace="10">
</a>

</div>

<div>
   <a href="https://thecafesucrefarine.com/ridiculously-easy-focaccia-bread/">
   <img src="static/rye.jpeg" alt="rye" height="150" width="150" hspace="10" vspace="20">
</a>

 <a href="https://alexandracooks.com/2021/06/26/how-to-make-ciabatta-bread/">
   <img src="static/ciabatta.jpeg" alt="ciabatta" height="150" width="150" hspace="10" vspace="20">
</a>

 <a href="https://www.mygreekdish.com/recipe/the-easiest-homemade-pita-bread/">
   <img src="static/pita.jpeg" alt="pita" height="150" width="150" hspace="10" vspace="20">
</a>

<a href="https://www.alphafoodie.com/simple-homemade-multigrain-bread-recipe/">
   <img src="static/multi_grain.jpeg" alt="mg" height="150" width="150" hspace="10" vspace="20">
</a>

<a href="https://bellyfull.net/challah-bread/">
   <img src="static/challah.jpeg" alt="challah" height="150" width="150" hspace="10" vspace="20">
</a>

</div>

<div>
    <p style="text-align:center">
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/ZtV9Vi6tSVk"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </p>
</div>



{% endblock %}