<img src="static/logo.jpeg" alt="A fancy Logo" height="100" width="100">
<img src="static/logo.jpeg" alt="A fancy Logo" height="80" width="80">
<img src="static/logo.jpeg" alt="A fancy Logo" height="50" width="50">
<img src="static/logo.jpeg" alt="A fancy Logo" height="30" width="30">
<img src="static/logo.jpeg" alt="A fancy Logo" height="50" width="50">
<img src="static/logo.jpeg" alt="A fancy Logo" height="80" width="80">
<img src="static/logo.jpeg" alt="A fancy Logo" height="100" width="100">
<img src="static/logo.jpeg" alt="A fancy Logo" height="80" width="80">
<img src="static/logo.jpeg" alt="A fancy Logo" height="50" width="50">
<img src="static/logo.jpeg" alt="A fancy Logo" height="30" width="30">
<img src="static/logo.jpeg" alt="A fancy Logo" height="50" width="50">
<img src="static/logo.jpeg" alt="A fancy Logo" height="80" width="80">
<img src="static/logo.jpeg" alt="A fancy Logo" height="100" width="100">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          <img src="static/logo.jpeg" alt="A fancy Logo" height="30" width="30">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/subforum?sub=1">Forum</a></li>
        <li><a href="/subforum?sub=4">General Discussion</a></li>
        <li><a href="/subforum?sub=5">Other Discussion</a></li>
        <li><a href="/team">About the Cool Team</a></li>
        <li><a href="/instructor">About the Cool Instructor</a></li>
        <li><a href="#">User Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

          <li>
            <div class="login">
                {% if current_user.is_authenticated %}
                <b {% if current_user.admin %} style="color: red;" {% endif %}>{{ current_user.username }}</b>
                <a class="logoutlink" href="/action_logout">>> logout <<</a>
                {% else %}
                <a href="/loginform"><span class="glyphicon glyphicon-log-in"></span> >> Login or register << </a>
                {% endif %}
            </div>
          </li>
      </ul>
    </div>
  </div>
</nav>

<a href="/" id="nolinks"><b>{{ config.SITE_NAME }}</b></a>
{% if config.SITE_DESCRIPTION %} - {% endif %}
<i>{{ config.SITE_DESCRIPTION }}</i>

