{% extends 'layout.html' %}
{% block body %}

{{ path|safe }}
<div class="subforumheader">
	<div class="subforumheadertitle">
	{{ subforum.title}} 
	</div>
	--
	<div class="subforumheaderdesc">
	{{ subforum.description }}
	</div>

		{% if subforums %}
		
		{% for sub in subforums %}
		<div class="subsubforums">
		<div class="subsubforumtitle">
		<a href="/subforum?sub={{ sub.id }}">{{ sub.title }}</a>
		</div>
		<div class="subsubforumdesc">
		{{ sub.description }}
		</div>
		 </div>

		{% endfor %}
		{% endif %}
	
	<div class="subforumheaderlink">
	{% if current_user.is_authenticated %}
	<a href="/addpost?sub={{ subforum.id }}">Create a post in <b>{{ subforum.title }}</b></a>
	{% else %}
	<a href="/loginform">Log in or create an account to make a post in <b>{{ subforum.title }}</b></a>
	{% endif %}
	</div>
	
</div>





{% if posts.first() %}
	{% for post in posts %}
	<div class="post">
		<div class="posttitle">
		<a href="/viewpost?post={{ post.id }}">{{ post.title }}</a>
			<button class="btn" id="green" onclick="like()"><i class="fa fa-thumbs-up fa-lg" id="img1" aria-hidden="true"></i></button>
				<label id="likeCounter">0</label>
			<button class="btn" id="red" onclick="disLike()"><i class="fa fa-thumbs-down fa-lg" id="img2" aria-hidden="true"></i></button>
				<label id="disLikeCounter">0</label>
		</div>
		<div class="postusername">
			by <b {% if post.user.admin %} style="color: red;" {% endif %}> {{post.user.username}}</b>
			<div class="date">
			{{ post.get_time_string() }}
			</div>
		</div>
	</div>
	{% endfor %}

{% else %}
<div class="noposts">
<b>There are no posts in this subforum</b>
</div>
{% endif %}

<script src="https://use.fontawesome.com/fe459689b4.js"></script>
<script>
var likeCounter = 0
var disLikeCounter = 0
var likeUpdated = false
var disLikeUpdated = false

function like(){
var element1 = document.getElementsByClassName("fa fa-thumbs-up fa-lg");
	if(!likeUpdated){
		element1.img1.classList.toggle('green')
		likeUpdated = true
	}
	likeCounter = likeCounter + 1;
	document.getElementById("likeCounter").innerHTML = likeCounter;
}

function disLike(){
var element1 = document.getElementsByClassName("fa fa-thumbs-up fa-lg");
var element2 = document.getElementsByClassName("fa fa-thumbs-down fa-lg");
	if(!disLikeUpdated){
	    disLikeUpdated = true
		element2.img2.classList.toggle('red')
	}
	disLikeCounter = disLikeCounter + 1;
	document.getElementById("disLikeCounter").innerHTML = disLikeCounter;
}



</script>
<style>

	body{
  margin: 40px;
}

button{
  cursor: pointer;
  outline: 0;
  color: #AAA;

}

.btn:focus {
  outline: none;
}

.green{
  color: green;
}

.red{
  color: red;
}
</style>
{% endblock %}

