{% extends 'layout.html' %}
{% block body %}
{{ path|safe}}

<div class="actualpost">
	<div class="actualposttitle">
		<a href="/viewpost?post={{ post.id }}">{{post.title}}</a>
		<div class="postposter" {% if post.user.admin %} style="color: red;" {% endif %}>
			{{ post.user.username }}

		</div>
		<div class="posttime">
			{{ post.get_time_string() }}
		</div>
	</div>
	{% if post.is_private %}
		{% if current_user.is_authenticated %}
			<div class="postcontent">
				{{post.content}}
			</div>
		{% else %}
		<div class="postcontent">
			You need to login to see this post.
		</div>
		{% endif %}
	{% else %}
		<div class="postcontent">
			{{post.content}}
		</div>
	{% endif %}

</div>
	<comments class="comments">
		{% include 'comments.html' %}
	</comments>


{% endblock %}


